.topnav{
      
    text-align: right;
  }
  a:link{
    color: black;
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }
  a:visited{
    color: black;
    text-decoration: none;
  }
  a{
    font: Roboto;
    font-size: 13px/27px;
    padding: 0.5em;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 150px;
  }

  #fakebox-container,
  #realbox-container{
    margin: 0 auto 0 auto;
    min-width: 410px;
    width: var(--content-width);
    --searchbox-height:44px;
    flex-shrink: 0;
    
  }

  body *{
    font-family: 'Roboto', arial, sans-serif;
  }