body{
    font-family: arial, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.topNav{
    display: flex;
    align-items: center;
    font-size: 13px;
}

.topNav a{
    margin-left: 15px;
}

.navOptions{
    width: 28px;
    align-self: center;
    margin-left: 2px;
    margin-right: 5px;
}

.searchIcon{
    width: 20px;
}

.micIcon{
    width: 20px;
}

.custIcon{
    width: 20px;
}